{ {% include properties %}
    "CSS Text": { {% for item in site.pages %}{% if item.path contains page.partials %}{% include values index=forloop.index0 supported_template='"%s"' unsupported_template='false' prefixed_template='{ "prefixed": "%s" }' half_width_template='{ "prefixed": "%s", "unprefixed": "%s" }' %}
        "{{ item.property }}": {
            "values": { {% for value in values_names %}
                "{{ value | replace:'&lt;','<' }}": {
                    "introduced": "{{ values_introduced[forloop.index0] }}",
                    "support": {
                        "firefox": {{ support_firefox[forloop.index0] }},
                        "safari": {{ support_safari[forloop.index0] }},
                        "opera": {{ support_opera[forloop.index0] }},
                        "chrome": {{ support_chrome[forloop.index0] }},
                        "ie": {{ support_ie[forloop.index0] }}
                    }
                }{% unless forloop.last %},{% endunless %}{% endfor %}
            }
        }{% assign index = '' | append:forloop.index0 %}{% unless index == properties_last_index %},{% endunless %}
{% endif %}{% endfor %}
    }
}
