<!DOCTYPE html>{% include setup.md %}
<html class="page{{ page_lang_class }}{{ page_type_class }}{{ page_category_class }}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>

	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/>
    <link rel="stylesheet" href="{{ root_url }}s/support-prototype.css" /><!--[if gt IE 7]><!-->
    <link rel="stylesheet" href="{{ root_url }}s/style.css" /><!--<![endif]--><!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ root_url }}s/style.ie.css" /><![endif]-->

    <title>{{ title }}</title>
</head>
<body class="page-body">
    <h1>{{ title }}</h1>
    <aside id="toc">
        <h2>Specifications</h2>
        <ul>
            <li><a href="http://www.w3.org/TR/css3-text/">Latest version</a></li>
            <li><a href="http://dev.w3.org/csswg/css-text/">Editor's draft</a></li>
        </ul>

{% capture cache %}
    {% assign partials_result = '' %}
    {% assign partials_toc_result = '' %}
    {% if page.partials %}
        {% for item in site.pages %}
            {% if item.path contains page.partials %}
                {% assign item_id = item.path | split:'/' | last | remove:'.md' %}
                {% capture partials_raw_content %}
            <li><a href="#{{ item_id }}">{{ item.property }}</a></li>
{% endcapture %}
                {% capture partials_toc_result %}{{ partials_toc_result }}{{ partials_raw_content }}{% endcapture %}

                {% include values index=forloop.index0 supported_template='<td class="supported">%s</td>' unsupported_template='<td class="unsupported">No</td>' prefixed_template='<td class="prefixed">%s</td>' half_width_template='<td class="prefixed half-width">%s</td><td class="supported half-width">%s</td>' %}
                {% assign half_widths = half_widths | remove_first:',,,' | split:',,,' %}

                {% capture partials_raw_content %}
<table id="{{ item_id }}">
    <caption><code>{{ item.property }}</code> property</caption>
    <thead>
        <tr>
            <th rowspan="2">Value</th>
            <th rowspan="2">Introduced</th>
            <th colspan="10">Support</th>
        </tr>
        <tr class="browsers">
            {% assign browsers = 'Firefox, Safari, Opera, Chrome, IE' | split:', ' %}
            {% for browser in browsers %}
            <th{% if half_widths[forloop.index0] == 'true' %} colspan="2"{% endif %}><span>{{ browser }}</span></th>
            {% endfor %}
        </tr>
        {% for value in values_names %}
        <tr>
            <td>{% if value contains '>' %}<var>{{ value }}</var>{% else %}<code>{{ value }}</code>{% endif %}</td>
            <td>{{ values_introduced[forloop.index0] }}</td>
            {% include value_colspan cell=support_firefox index=0 %}
            {% include value_colspan cell=support_safari index=1 %}
            {% include value_colspan cell=support_opera index=2 %}
            {% include value_colspan cell=support_chrome index=3 %}
            {% include value_colspan cell=support_ie index=4 %}
        </tr>
        {% endfor %}
    </thead>
</table>

{{ item.content }}

                {% endcapture %}
                {% capture partials_result %}{{ partials_result }}{{ partials_raw_content | markdownify | replace:'id="section"',id_replacement_0 | replace:'id="section-',id_replacement }}{% endcapture %}

            {% endif %}
        {% endfor %}
    {% endif %}
{% endcapture %}

        <h2>Property List</h2>
        <ul>
            {{ partials_toc_result }}
        </ul>

    </aside>

    {{ partials_result }}

    <script src="{{ root_url }}j/script.js"></script>
</body>
</html>

